main{
    background: linear-gradient(to top right, #000000, #00bfff);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.bg-image{
    left: 0px;
    top: 0px;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-size: cover;
}
.container{
    background: black;
    opacity: 0.9;
    border: solid;  
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form-content{
    border: none;
    outline: none;
    background: none;
    color: white;
    width: 6cm;
}
.text-box{
    border-bottom: #4287f5 solid;
    padding-top: 20px;
}
.containerFooter{
    color: white;
}
.heading-container{
    color: white;
}
.forget-password{
    text-align: right;
    text-decoration: none;
    color: white;
}
.footer-container{
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}
a{
    text-decoration: none;
}
.register-container{
    background: black;
    opacity: 0.9;
    border: solid;  
    width: 50vh;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.failed{
    color: red;
}
.success{
    color: green;
}
option{
    color: black;
}
.R-password-container{
    background: black;
    opacity: 0.9;
    border: solid;  
    width: 60vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.R-password-heading-container{
    color: white;
    padding-bottom: 10px;
}

.R-password-form{
    display: flex;
    width: 50vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.R-password-form-content{
    border: none;
    outline: none;
    background: none;
    color: white;
    width: 50vh;
}
.R-password-exp{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: grey;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
button{
    margin-top: 10px;
}

.F-password-container{
    background: black;
    opacity: 0.9;
    border: solid;  
    width: 55vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}